$red: rgb(255, 77, 50);
$white: rgb(255, 255, 255);

.m-create {
  .header {
    position: relative;
    padding: 20px 50px 0 50px;
    height: 96px;
    background-color: $red;
    color: $white;
    text-align: center;
    .title {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .photo {
      display: inline-block;
      float: left;
      width: 80px;
      height: 80px;
      background-size: cover;
      background-position: 50% 20%;
      border-radius: 100%;
    }
    .otherUser-tips {
      position: absolute;
      left: 150px;
      right: 40px;
      top: 34px;
      text-align: justify;
    }
  }
  .create-tips {
    color: $red;
    padding: 20px 30px 0px 30px;
  }
  .form {
    margin-top: 20px;
    .line {
      text-align: center;
      margin-top: 20px;
    }

    .upload-btn {
      margin-top: 20px;

      .preview {
        width: 200px;
        height: 200px;
        position: absolute;
        top: -20px;
        left: -26px;
        background-size: cover;
        background-position: 50% 20%;
        pointer-events: none;
      }
    }

    .create-btn {
      margin: 35px auto 30px auto;
    }
  }
  .tooltip {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    color: $white;
    background-color: rgb(21, 25, 27);
    transition: height 0.4s;
    &.hide {
      height: 0px;
    }
  }
}
